<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:heading {"level":1,"fontSize":"xx-large"} -->
<h1 class="wp-block-heading has-xx-large-font-size">Page Not Found</h1>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>The page you are looking for cannot be found. </p>
<!-- /wp:paragraph -->

<!-- wp:search {"label":"Search","buttonText":"Search"} /--></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->