<!-- wp:template-part {"slug":"header","theme":"ridge"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained","wideSize":"80rem"}} -->
<main class="wp-block-group">
  <!-- wp:query {"queryId":51,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true},"displayLayout":{"type":"list","columns":3},"align":"wide","layout":{"type":"default"}} -->
  <div class="wp-block-query alignwide">
    <!-- wp:post-template -->
    <!-- wp:columns -->
    <div class="wp-block-columns">
      <!-- wp:column {"width":"100%"} -->
      <div class="wp-block-column" style="flex-basis: 100%">
        <!-- wp:post-title {"level":1,"isLink":true} /-->
      </div>
      <!-- /wp:column -->

      <!-- wp:column {"verticalAlignment":"center","width":"12rem","layout":{"type":"default"}} -->
      <div
        class="wp-block-column is-vertically-aligned-center"
        style="flex-basis: 12rem"
      >
        <!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|10"}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"left"}} -->
        <div class="wp-block-group">
          <!-- wp:post-terms {"term":"category","fontSize":"small"} /-->

          <!-- wp:post-date {"fontSize":"small"} /-->
        </div>
        <!-- /wp:group -->
      </div>
      <!-- /wp:column -->
    </div>
    <!-- /wp:columns -->

    <!-- wp:separator {"style":{"color":{"background":"#c8c8c8"}},"className":"is-style-wide"} -->
    <hr
      class="wp-block-separator has-text-color has-alpha-channel-opacity has-background is-style-wide"
      style="background-color: #c8c8c8; color: #c8c8c8"
    />
    <!-- /wp:separator -->
    <!-- /wp:post-template -->

    <!-- wp:query-pagination {"layout":{"type":"flex","justifyContent":"center"},"fontSize":"x-large"} -->
    <!-- wp:query-pagination-previous /-->

    <!-- wp:query-pagination-numbers /-->

    <!-- wp:query-pagination-next /-->
    <!-- /wp:query-pagination -->

    <!-- wp:query-no-results -->
    <!-- wp:spacer -->
    <div style="height: 100px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->

    <!-- wp:heading {"textAlign":"center","placeholder":"Add text or blocks that will display when the query returns no results."} -->
    <h2 class="wp-block-heading has-text-align-center">No posts found. Maybe try a new search or visit the <a href="/">home page</a>?</h2>
    <!-- /wp:heading -->

    <!-- wp:spacer -->
    <div style="height: 100px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->
    <!-- /wp:query-no-results -->
  </div>
  <!-- /wp:query -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"ridge"} /-->
